
    <div style ="position: absolute; width: 100%;height: 1000px">
        <img src="https://previews.dropbox.com/p/thumb/AA8Nc1RzCfrHEVTm2h22Ba38abBwt-cuZWmLANhT3wK45pV3WEfOatcA3mmW5dEC5V1I_Yye8LlMZzyjX3CLx6DW52jcMo0UffZWD5hueSeR8l07KpIudEZprcrhlvr1Yj-Mp6u4AqFpNFSknRGbbFlMBAv9CkcFW3XnbVkROCpwvPp49r1yFk9EZ7SJPI23kq1fS9MddKBuT5ebgc_k350jJIGjpmupCuL_641eE_isp0IJeRQNtpP7tk0nJRCEGSnsqzaNkDQZJuvyZDXfGmb1lRSqwbGvZxRzjKDrH1-cdosLgA4bRESy88Or8bvnX6TUKW1Q6edMxT1GD0tMwCCkB9RNeXxhGxgx_vtsGXJrLA/p.png?fv_content=true&size_mode=5"
         style ="height: 100%; width: 100%" >
    </div>
 
         <div class="absolute">


            <div class="donorButton">
              <a routerLink="dashboard" style="color:white" > 
                <button type="button" style="height: 100% ; width: 100% ; background-color : #4CAF50 ; border: none;" >
                 <span class="glyphicon glyphicon-eur" aria-hidden="true"></span> <h1>Donor</h1>
                 </button>
             </a>
             </div>


              <div class="charityButton">
                <a routerLink="login" style="color:white" > 
                 <button type="button" style="height: 100% ; width: 100% ; background-color : #f44336 ; border:none;" >
                  <span class="glyphicon glyphicon-search" aria-hidden="true"></span> 
                   <h1>Charity</h1>
                  </button>
                </a>


              </div>
         </div>   
         
         
