<nav class="navbar navbar-default">
  <div class="container-fluid" style ="background-color: #555555;">
     <ul class="nav navbar-nav" style =" height: 40px;" >
      <li routerLinkActive ="active" > <a routerLink="login" style="font-size: 16px;color:white;left: 500px;top:0px;height: 40px;"> Login</a></li>
      <li routerLinkActive ="active"> <a routerLink="" style="font-size: 16px;color:white;left:505px;top:0px; height: 40px;background-color:#008CBA;"> Main</a> </li>
      <li routerLinkActive ="active"> <a routerLink="dashboard" style="font-size: 16px;color:white;left:505px;;top:0px; height: 40px;">Dashboard</a> </li>
      <li routerLinkActive ="active"> <a routerLink="aboutus" style="font-size: 16px;color:white;left:505px;;top:0px; height: 40px;"> About us</a> </li>
 
   </ul>
   </div>
<router-outlet></router-outlet>
