<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>



<div style ="background-color:#12232E; height:9%;margin-top:-20px;">
    <h1 class="charityName">{{charityInfo.name}}</h1>
</div>
<div >
    <h1 class ='primaryInfo' style ='margin-left:5%'>{{charityInfo.slogan}}<h4>Slogan</h4></h1>
    <h1 class ='primaryInfo'style ='color:firebrick'>{{charityInfo.rating}}<h4>Rating</h4></h1>
    <h1 class ='primaryInfo'>{{charityInfo.location}}<h4>Location</h4></h1>
</div>

<div style ='margin-top:10% ;border-top: 1px solid #12232E;border-bottom:1px solid #12232E'>
    <div class="secondaryInfoContainer"style ='display:inline-block;margin-left:5%;'>

        <h1 class="secondaryInfo" style='text-align: center;'>Logo</h1>
        <img src ="{{charityInfo.logo}}">
    </div>
    <div class ="secondaryInfoContainer">
        <h1 class="secondaryInfo"style ='text-align: center;'>Contact</h1>
        <h4 *ngFor="let element of charityInfo.contact" style ='text-align: center;'>{{element}}</h4>
    </div>
    <div class="secondaryInfoContainer">
    <h1 style ='text-align: center;'>{{totalDonations}}<h4>Total Donations</h4></h1>
    <h1 style ='text-align: center;'>{{totalEvents}}<h4>Events</h4></h1>
    </div>
</div>

<div style = 'margin-left:20%;margin-bottom:10%;'>
    <h1 style ='margin-bottom:5%;'>Events</h1>
    <button class="eventButton" (click)="navigateEvent(e)" *ngFor ='let e of charityInfo.initiatives' >{{e}}</button>
</div>
